{% extends 'base.html.twig' %}

{% block title %}Sorts{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('accordion') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('filter') }}
    {{ encore_entry_script_tags('accordion') }}
{% endblock %}

{% block body %}

    <h1>Nouveau sort</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/melod/PhpstormProjects/jdr_wither/src/Controller/SortController.php'|file_link(0) }}">src/Controller/SortController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/melod/PhpstormProjects/jdr_wither/templates/sort/index.html.twig'|file_link(0) }}">templates/sort/index.html.twig</a></code></li>
    </ul>

{% endblock %}
