{% extends 'base.html.twig' %}

{% block title %}Dons{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('accordion') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('filter') }}
{% endblock %}

{% block body %}

    <div class="btn-group" role="group" aria-label="Default button group">
        <a class="btn btn-info" href="{{ path('app_competence_combat_don') }}">Dons</a>
        <a class="btn btn-outline-info" href="{{ path('app_competence_combat_signe') }}">Signe</a>
        <a class="btn btn-outline-info" href="{{ path('app_competence_combat_sort') }}">Sorts</a>
        <a class="btn btn-outline-light" href="{{ path('app_competence_combat_lister') }}">Retour</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-outline-warning" href="{{ path('app_admin_don_ajouter') }}">
                Nouveau
            </a>
        {% endif %}
    </div>

    <!--titre-->
    <div class="titre-logo">
        <img class="logo" src="{{ asset('images/competencesCombat/logo-don.png') }}" alt="Logo" />
        <h1>Art du Guerrier</h1>
        <img class="logo" src="{{ asset('images/competencesCombat/logo-don.png') }}" alt="Logo" />
    </div>

    <!--filtres de recherche-->
    <div class="card text-center">
        <div class="card-body fond-image">
            <section class="admin_body_container" >
                <h4>Filtre de recherche</h4>
                {{ form_start(form) }}
                    <div class="input-group">
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'type': 'search', 'placeholder': 'Rechercher par nom...', 'aria-label': 'Search', 'id': 'search-input'}}) }}
                        <span class="input-group-text"><a class="btn-close" href="{{ path('app_competence_combat_don') }}"></a></span>
                    </div>
                {{ form_end(form) }}
            </section>
        </div>
    </div>

    <br>
    <!--massage flash-->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-time" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <!--afficher la liste-->
    <section class="admin_body_container">
        <div class="card-element">
            {% for don in dons %}
                <div class="card card-size-info">
                    <div class="card-body fond-image">
                        <h4 class="card-title">{{don.nom}}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_admin_don_modifier', { 'id' : don.id }) }}">
                                    <span class="material-symbols-outlined">edit</span>
                                </a>
                            {% endif %}
                        </h4>
                        <h6 class="card-text"><i>{{don.type.libelle}}</i></h6>
                        <p class="card-title"><b>Initiative</b> : {{don.initiative}}</p>
                        <p class="card-text">{% if don.presRequis is not null %}<b>Près-requis</b> : {{don.presRequis}}{% endif %}</p>
                        <p class="card-text">{{don.effet}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <script>
        // Appel de la fonction avec les paramètres spécifiques aux équipements
        document.addEventListener('DOMContentLoaded', function() {
            initializeSearch('search-input', 'result-container', '{{ path('app_competence_combat_don') }}');
        });
    </script>

{% endblock %}
