{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Magasin</h1>
    <div class="card-element">

        <a href="{{ path('app_stuff_arme') }}">
            <div class="card card-size">
                <img src="{{ asset('images/armes.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Armes</h5>
                    <p class="card-text">Vente d'armes en tout genre : Épées, Lames courtes, Haches, Arc, Bâtons, ...</p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_stuff_armure') }}">
            <div class="card card-size">
                <img src="{{ asset('images/armures.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Armures</h5>
                    <p class="card-text">Vente d'armures et de bouclier, de l'armure légère à l'armure lourde. Tout ce qu'il faut pour ce protéger.</p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_stuff_equipement') }}">
            <div class="card card-size">
                <img src="{{ asset('images/magasin.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Équipement général</h5>
                    <p class="card-text">Nourriture, boissons, sac à dos, corde... Tout ce qu'il faut pour voyager.</p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_stuff_ingredient') }}">
            <div class="card card-size">
                <img src="{{ asset('images/ingredients.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Composants d'alchimie</h5>
                    <p class="card-text">Tous les ingrédients nécessaires à la création de potions et de mutagènes se trouvent ici !</p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_stuff_outil') }}">
            <div class="card card-size">
                <img src="{{ asset('images/outils.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Outils</h5>
                    <p class="card-text">Outillages de forgeron, voleur, marchand ou autre. Vous trouverez ici tout ce dont vous avez besoin.</p>
                </div>
            </div>
        </a>

    </div>

{% endblock %}
