{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Jeu de Rôle - The Witcher</h1>

    <div class="card-element">

        <a href="#">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/bestiaire/bestiaire.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Fiche personnage</h5>
                    <p class="card-text">Créer un personnage doté de compétences exceptionnelles, afin de partir à l'aventure.  </p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_stuff_lister') }}">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/stuff/magasin2.png') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Magasin</h5>
                    <p class="card-text">Armes, Armures, Équipement général, Composants d'alchimie, Outils...</p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_competence_combat_lister') }}">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/competencesCombat/competences-combat.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Guide des Capacités et Caractéristiques</h5>
                    <p class="card-text">Liste des talents au combat, des races, job et handicap disponibles...</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/bestiaire/bestiaire.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Bestiaire</h5>
                    <p class="card-text">Brigands, Nekkers, Spectre, Vampires, Mages, Trolls, Fiellons, Lechens...</p>
                </div>
            </div>
        </a>
    </div>

{% endblock %}
