{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Jeu de Rôle - The Witcher</h1>

    <div class="card-element">

        <a href="#">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/creerPersonnage/creer_personnage.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">XFiche personnageX</h5>
                    <p class="card-text">Créer un personnage doté de compétences exceptionnelles, afin de partir à l'aventure.  </p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_stuff_lister') }}">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/stuff/marchand-nain.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Magasin</h5>
                    <p class="card-text">Armes, Armures, Équipement général, Composants d'alchimie, Outils...</p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_competence_combat_lister') }}">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/competencesCombat/competences-combat.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Art du combat</h5>
                    <p class="card-text">Les dons du Guerrier, les signes du Sorceleur et les sorts du Mage et de la Magicienne...</p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_guide_personnage_lister') }}">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/guideCreation/guide_creation.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Guide du personnage</h5>
                    <p class="card-text">Liste des races, des jobs et des handicaps disponibles à la création...</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/bestiaire/bestiaire.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">XBestiaireX</h5>
                    <p class="card-text">Brigands, Nekkers, Spectre, Vampires, Mages, Trolls, Fiellons, Lechens...</p>
                </div>
            </div>
        </a>
    </div>

{% endblock %}
