{% extends 'base.html.twig' %}

{% block title %}Guide perso{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Guide des compétences</h1>

    <div class="card-element">
        <a href="{{ path('app_guide_personnage_talents') }}">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/guideCreation/talents.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Talents</h5>
                    <p class="card-text">Il existe 16 Talents différents qui influencent la manière dont le personnage va accomplir diverses actions.</p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_guide_personnage_handicaps') }}">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/guideCreation/handicaps.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Épreuves</h5>
                    <p class="card-text">Liste des épreuves de vie subit par les personnages. Les handicaps physiques et moraux, LA quête qui les fait avancer.</p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_guide_personnage_jobs') }}">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/guideCreation/jobs.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Jobs</h5>
                    <p class="card-text">Le job du personnage retrace les évènements marquants de son passé, et indique quelles sont ses motivations pour l’avenir.</p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_guide_personnage_races') }}">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/guideCreation/races.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Races</h5>
                    <p class="card-text">Il est possible de jouer plusieurs races dans l'univers de The Witcher: les nains, les elfes, les hobbits, les humains.</p>
                </div>
            </div>
        </a>
    </div>
{% endblock %}
