{% extends 'base.html.twig' %}

{% block title %}Jobs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="btn-group" role="group" aria-label="Default button group">
        <a class="btn btn-outline-info" href="{{ path('app_guide_personnage_talents') }}">Talents</a>
        <a class="btn btn-outline-info" href="{{ path('app_guide_personnage_handicaps') }}">Epreuves</a>
        <a class="btn btn-info" href="{{ path('app_guide_personnage_jobs') }}">Jobs</a>
        <a class="btn btn-outline-info" href="{{ path('app_guide_personnage_races') }}">Races</a>
        <a class="btn btn-outline-light" href="{{ path('app_guide_personnage_lister') }}">Retour</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-outline-warning" href="#">
                Nouveau
            </a>
        {% endif %}
    </div>

    <h1>Jobs</h1>

    <!--massage flash-->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-time" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="card-element">
        {% for job in jobs %}
            <div class="card card-size fond-image card-size-info">
                <img src="{{ asset('images/guideCreation/job/'~ job.photo) }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h4 class="card-title">
                        {{job.libelle}}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_guide_personnage_lister') }}">
                                <span class="material-symbols-outlined">edit</span>
                            </a>
                        {% endif %}
                    </h4>

                    <p class="card-text">
                        {% if job.presrequis is not null %}
                            <b>Condition</b> : {{job.presrequis}}
                        {% endif %}
                    </p>
                    <p class="card-text">
                        <b>+1 aux caractéristiques</b> :
                        {% for bonus in job.bonusCaracteristiques %}
                            {{ bonus }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}</p>
                    <p class="card-text">
                        <b>+2 aux talents</b> :
                        {% for bonus in job.bonusTalent %}
                            {{ bonus }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
