<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>JDR Witcher - {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.jpg') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <header>
            <nav class="navbar-expand-lg nav-links">
                <div>
                    <img class="logo" src="{{ asset('images/favicon.jpg') }}" alt="Logo" />
                </div>

                <a class="#" href="{{ path('app_stuff_lister') }}">Accueil</a>
                <a class="#" href="{{ path('app_stuff_lister') }}">Magasin</a>

                <li class="nav-item dropdown menu">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Administration
                    </a>
                    <ul class="dropdown-menu menu">
                        <li><a class="dropdown-item menu" href="{{ path('app_admin_arme_lister') }}">Armes</a></li>
                        <li><a class="dropdown-item menu" href="#">Compétences en combat</a></li>
                        <li><a class="dropdown-item menu" href="#">Compétences des personnes</a></li>
                    </ul>
                </li>


                <a class="" href="#">Mon profil</a>
                <a href="#">Se déconnecter</a>
            </nav>

        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer class="footer">
            <div>
                <ul class="pied-page">
                    <li>Informations légales</li>
                    <li>-</li>
                    <li>JDRWitcher.com ©</li>
                    <li><a target=”_blank” class="text-primary" href="https://github.com/Meyadu17">Meya</a></li>
                    <li>-</li>
                    <li><a target=”_blank” class="text-primary" href="https://github.com/Meyadu17/jdr_wither">Code source sous license</a></li>
                </ul>

            </div>
        </footer>
    </body>
</html>
