<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>JDR Witcher - {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.png') }}">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <header>
            <nav class="navbar-expand-lg nav-links">
                <div>
                    <img class="logo" src="{{ asset('images/favicon.png') }}" alt="Logo" />
                </div>

                <a href="{{ path('app_accueil') }}">Accueil</a>
                {% if is_granted('ROLE_USER') %}
                    <a href="#">Fiches personnage</a>
                    <a href="{{ path('app_stuff_lister') }}">Magasin</a>
                    <a href="{{ path('app_competence_combat_lister') }}">Compétences & talents</a>
                    <a href="#">Guide de création</a>
                    <a href="#">Bestiaire</a>
                {% endif %}

                {% if app.user is null %}
                    <a href="{{ path('app_login') }}">Connexion</a>
                {% else %}
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                    <a class="user-profile-link" href="{{ path('app_profil_consulter') }}">
                        <span class="material-symbols-outlined">edit</span>
                        Profil de {{ app.user.pseudo }}</a>
                {% endif %}
            </nav>

        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer class="footer">
            <div>
                <ul class="pied-page">
                    <li>Informations légales</li>
                    <li>-</li>
                    <li>JDRWitcher.com ©</li>
                    <li><a target=”_blank” class="text-primary" href="https://github.com/Meyadu17">Meya</a></li>
                    <li>-</li>
                    <li><a target=”_blank” class="text-primary" href="https://github.com/Meyadu17/jdr_wither">Code source sous license</a></li>
                </ul>

            </div>
        </footer>
    </body>
</html>
