{% extends 'base.html.twig' %}

{% block title %}Armes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-error" role="alert">
            {{ message }}
        </div>
    {% endfor %}


    <section class="admin_body_container">

        {{ form_start(form, {'attr':{'class':'row g-3 needs-validation', 'novalidate': 'novalidate'}}) }}

        <div class="col-md-3">
            <label for="{{ form.typeArme.vars.id }}" class="form-label">{{ form.typeArme.vars.label }}</label>
            {{ form_widget(form.typeArme) }}
            <div class="invalid-feedback">
                Champs requis.
            </div>
        </div>

        <div class="col-md-3">
            <label for="{{ form.taille.vars.id }}" class="form-label">{{ form.taille.vars.label }}</label>
            {{ form_widget(form.taille) }}
            <div class="invalid-feedback">
                Champs requis.
            </div>
        </div>

        <div class="col-md-4">
            {{ form_row(form.nom) }}
            <div class="invalid-feedback">
                Champs requis.
            </div>
        </div>

        <div class="col-md-4">
            {{ form_row(form.degat) }}
            <div class="invalid-feedback">
                Champs requis. si null mettre "-"
            </div>
        </div>

        <div class="col-md-4">
            {{ form_row(form.mains) }}
            <div class="invalid-feedback">
                Champs requis. si null mettre "-"
            </div>
        </div>

        <div class="col-md-4">
            {{ form_row(form.portee) }}
            <div class="invalid-feedback">
                Champs requis. si null mettre "-"
            </div>
        </div>

        <div class="col-md-4">
            {{ form_row(form.effet) }}
            <div class="invalid-feedback">
                Champs requis.
            </div>
        </div>


        <div class="col-md-4">
            {{ form_row(form.poids) }}
            <div class="invalid-feedback">
                Champs requis.
            </div>
        </div>

        <div class="col-md-4">
            {{ form_row(form.prix) }}
            <div class="invalid-feedback">
                Champs requis.
            </div>
        </div>



        <div class="col-12">
            {% if app.request.get('_route') == "app_admin_arme_ajouter" %}
                <button class="btn btn-outline-info" type="submit">Ajouter</button>
            {% else %}
                <button class="btn btn-outline-info" type="submit">Modifier</button>
            {% endif %}
            <a href="{{ path('app_admin_arme_lister') }}" class="btn btn-outline-light">Retour</a>

        </div>

        {{ form_end(form) }}
    </section>
    <script>
        (function () {
            'use strict'

            var forms = document.querySelectorAll('.needs-validation')

            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
{% endblock %}
