{% extends 'base.html.twig' %}

{% block title %}Armes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('formControl') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('formControl') }}
{% endblock %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <section class=" text-center text-lg-start">

        <h1>Nouvelle arme</h1>
        <div class="card mb-3">
            <div class="row g-0 d-flex align-items-center fond-image">

                <div class="col-lg-4 d-none d-lg-flex">
                    <img src="{{ asset('images/armes.jpg') }}" alt="Trendy Pants and Shoes"
                         class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
                </div>
                <div class="col-lg-8">
                    <div class="card-body py-5 px-md-5">

                        {{ form_start(form, {'attr':{'class':'row g-3 controle-form', 'novalidate': 'novalidate'}}) }}
                            <!-- Ligne 1 -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(form.typeArme) }}
                                        <label for="{{ form.typeArme.vars.id }}" class="form-label">{{ form.typeArme.vars.label }}</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(form.taille) }}
                                        <label for="{{ form.taille.vars.id }}" class="form-label">{{ form.taille.vars.label }}</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Ligne 2 -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(form.nom) }}
                                        {{ form_label(form.nom) }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(form.degat) }}
                                        {{ form_label(form.degat) }}
                                    </div>
                                </div>
                            </div>

                            <!-- Ligne 3 -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(form.mains) }}
                                        {{ form_label(form.mains) }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(form.portee) }}
                                        {{ form_label(form.portee) }}
                                    </div>
                                </div>
                            </div>

                            <!-- Ligne 4 -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(form.effet) }}
                                        {{ form_label(form.effet) }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(form.poids) }}
                                        {{ form_label(form.poids) }}
                                    </div>
                                </div>
                            </div>

                            <!-- Ligne 5 -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{ form_widget(form.prix) }}
                                        {{ form_label(form.prix) }}
                                    </div>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <div class="col-md-6 mb-4">
                                {% if app.request.get('_route') == "app_admin_arme_ajouter" %}
                                    <button class="btn btn-outline-info" type="submit">Ajouter</button>
                                    <button class="btn btn-outline-info" type="submit" name="create_and_new">Valider et créer de nouveau</button>
                                {% else %}
                                    <button class="btn btn-outline-info" type="submit">Modifier</button>
                                {% endif %}
                                <a href="{{ path('app_stuff_arme') }}" class="btn btn-outline-light">Retour</a>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
