{% extends 'base.html.twig' %}

{% block title %}Armes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('accordion') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('filter') }}
    {{ encore_entry_script_tags('accordion') }}
{% endblock %}

{% block body %}

    <!--titre-->
    <div class="titre-logo">
        <img class="logo" src="{{ asset('images/logo-armes.jpg') }}" alt="Logo" />
        <h1>Les armes</h1>
        <img class="logo" src="{{ asset('images/logo-armes.jpg') }}" alt="Logo" />
    </div>

    <div class="card text-center">
        <div class="card-body">

            <!--bouton-->
            <section class="admin_body_container" >
                <a class="btn btn-outline-info" href="{{ path('app_admin_arme_ajouter') }}">
                    Mettre une arme en vente
                </a>
                <a class="btn btn-outline-light" href="{{ path('app_stuff_lister') }}">Retour</a>
            </section>
            <br>
            <!--filtres de recherche-->
            {{ form_start(form) }}
            <section class="admin_body_container " >
                <div class="input-group">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'type': 'search', 'placeholder': 'Rechercher par nom...', 'aria-label': 'Search', 'id': 'search-input'}}) }}
                    <span class="input-group-text"><a class="btn-close" href="{{ path('app_stuff_arme') }}"></a></span>
                </div>
            </section>
            {{ form_end(form) }}

        </div>
    </div>
    <br>
    <!--massage flash-->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <!--afficher la liste-->
    <section class="admin_body_container">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            {% for libelle, armes in armesGroupedByType %}
                <div class="accordion-item accordion-color">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                                aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            {{ libelle }}
                        </button>
                    </h2>
                    <div id="{{ 'collapse_' ~ libelle }}" class="accordion-collapse collapse hide">
                        <div class="accordion-body">
                            <table class="table table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Dégâts</th>
                                    <th scope="col">Mains</th>
                                    <th scope="col">Portée</th>
                                    <th scope="col">Effets</th>
                                    <th scope="col">Poids</th>
                                    <th scope="col">Taille</th>
                                    <th scope="col">Prix</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for arme in armes %}
                                    <tr>
                                        <td>{{arme.nom}}</td>
                                        <td>{{arme.degat}}</td>
                                        <td>{{arme.mains}}</td>
                                        <td>{{arme.portee}}</td>
                                        <td>{{arme.effet}}</td>
                                        <td>{{arme.poids}}</td>
                                        <td>{{arme.taille.libelle}}</td>
                                        <td>{{arme.prix}}</td>
                                        <td>
                                            <a class="btn btn-outline-info" href="{{ path('app_admin_arme_modifier', { 'id' : arme.id }) }}">
                                                modifier
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <script>
        // Appel de la fonction avec les paramètres spécifiques aux armes
        document.addEventListener('DOMContentLoaded', function() {
            initializeSearch('search-input', 'result-container', '{{ path('app_stuff_arme') }}');
        });
    </script>

{% endblock %}
