{% extends 'base.html.twig' %}

{% block title %}Talents{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="btn-group" role="group" aria-label="Default button group">
        <a class="btn btn-info" href="{{ path('app_guide_personnage_talents') }}">Talents</a>
        <a class="btn btn-outline-info" href="{{ path('app_guide_personnage_handicaps') }}">Epreuves</a>
        <a class="btn btn-outline-info" href="{{ path('app_guide_personnage_jobs') }}">Jobs</a>
        <a class="btn btn-outline-info" href="{{ path('app_guide_personnage_races') }}">Races</a>
        <a class="btn btn-outline-light" href="{{ path('app_guide_personnage_lister') }}">Retour</a>
    </div>

    <h1>Talents</h1>
    <!--massage flash-->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-time" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <!--afficher la liste-->
    <section class="admin_body_container">
        <div class="card-element">
            {% for talent in talents %}
                <div class="card card-size-info">
                    <div class="card-body fond-image">
                        <h5 class="card-title">{{talent.libelle}}
                        </h5>
                        <h6 class="card-title"><i>{{talent.caracteristique.libelle}}</i></h6>

                        <p class="card-title">{{talent.description}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
