{% extends 'base.html.twig' %}

{% block title %}Général{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('accordion') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('filter') }}
{% endblock %}

{% block body %}

    <!--titre-->
    <div class="titre-logo">
        <img class="logo" src="{{ asset('images/logo-equipement.png') }}" alt="Logo" />
        <h1>L'équipement général</h1>
        <img class="logo" src="{{ asset('images/logo-equipement.png') }}" alt="Logo" />
    </div>

    <div class="card text-center">
        <div class="card-body">

            <!--bouton-->
            <section class="admin_body_container" >
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-outline-info" href="{{ path('app_admin_equipement_ajouter') }}">
                        Mettre une armure en vente
                    </a>
                {% endif %}
                <a class="btn btn-outline-light" href="{{ path('app_stuff_lister') }}">Retour</a>
            </section>
            <br>
            <!--filtres de recherche-->
            {{ form_start(form) }}
            <section class="admin_body_container " >
                <div class="input-group">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'type': 'search', 'placeholder': 'Rechercher par nom...', 'aria-label': 'Search', 'id': 'search-input'}}) }}
                    <span class="input-group-text"><a class="btn-close" href="{{ path('app_stuff_equipement') }}"></a></span>
                </div>
            </section>
            {{ form_end(form) }}

        </div>
    </div>

    <br>
    <!--massage flash-->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <!--afficher la liste-->
    <section class="admin_body_container">
        <div class="accordion" id="accordionPanelsStayOpenExample">

            <div class="accordion-item accordion-color">
                <div class="accordion-body">
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Poids</th>
                            <th scope="col">Prix</th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <th scope="col">Action</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for equipement in equipements %}
                            <tr>
                                <td>{{equipement.nom}}</td>
                                <td>{{equipement.poids}}</td>
                                <td>{{equipement.prix}}</td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        <a class="btn btn-outline-info" href="{{ path('app_admin_equipement_modifier', { 'id' : equipement.id }) }}">
                                            modifier
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script>
        // Appel de la fonction avec les paramètres spécifiques aux équipements
        document.addEventListener('DOMContentLoaded', function() {
            initializeSearch('search-input', 'result-container', '{{ path('app_stuff_equipement') }}');
        });
    </script>

{% endblock %}