{% extends 'base.html.twig' %}

{% block title %}Compétences{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Art du combat</h1>

    <div class="card-element">
        <a href="{{ path('app_competence_combat_don') }}">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/competencesCombat/don.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Art du guerrier</h5>
                    <p class="card-text">Entaille, estoc, Feinte...</p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_competence_combat_signe') }}">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/competencesCombat/signe.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Signes du Sorceleur</h5>
                    <p class="card-text">Aard, Axii, Quen...</p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_competence_combat_sort') }}">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/competencesCombat/sort.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Sorts des Mages</h5>
                    <p class="card-text">Vague de feu, Soins magique...</p>
                </div>
            </div>
        </a>
    </div>

{% endblock %}
