{% extends 'base.html.twig' %}

{% block title %}Compétences{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Compétences au combat</h1>

    <div class="card-element">
        <a href="{{ path('app_competence_combat_don') }}">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/stuff/magasin2.png') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Dons</h5>
                    <p class="card-text">Armes, Armures, Équipement général, Composants d'alchimie, Outils...</p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_competence_combat_signe') }}">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/competencesCombat/competences-combat.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Signes</h5>
                    <p class="card-text">Liste des dons au combat, des sorts de mage et des signes de sorceleur...</p>
                </div>
            </div>
        </a>

        <a href="{{ path('app_competence_combat_sort') }}">
            <div class="card card-size fond-image">
                <img src="{{ asset('images/competencesCombat/competences-combat.jpg') }}" class="card-img-top" alt="magasin">
                <div class="card-body">
                    <h5 class="card-title">Sorts</h5>
                    <p class="card-text">Liste des dons au combat, des sorts de mage et des signes de sorceleur...</p>
                </div>
            </div>
        </a>
    </div>

{% endblock %}
