{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile') }}
    {{ encore_entry_script_tags('formControl') }}
{% endblock %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <section>
        {{ form_errors(form, { 'attr' : {'class' : 'mx-1 mx-md-4'}} ) }}

        {{ form_start(form, { 'attr' : {'class' : 'mx-1 mx-md-4 controle-form', 'novalidate': 'novalidate'}} ) }}
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3 fond-image">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center">

                                {% if app.user.photo is not null %}
                                    <img src="{{ asset('images/uploads/' ~ user.photo) }}"
                                         alt="Avatar" class="rounded-circle img-fluid img-profile my-5 img-profile" />
                                {% else %}
                                    <img src="{{ asset('images/photo_default.jpg') }}"
                                         alt="Avatar" class="rounded-circle img-fluid img-profile my-5 img-profile" />
                                {% endif %}
                                <h5><button type="submit" class="btn btn-outline-info">Enregistrer</button></h5>
                                <h5><a class="btn btn-outline-light" href="{{ path('app_profil_consulter') }}">Retour</a></h5>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Modifier profil</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-12 mb-3">
                                            {{ form_row(form.currentPassword, {'attr': {
                                                'class': 'form-control required-field',
                                                'aria-describedby': 'inputGroupPrepend',
                                                'required': 'required'
                                            }}) }}
                                        </div>
                                    </div>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-12 mb-3">
                                            {{ form_row(form.password.first, {'attr': {
                                                'class': 'form-control required-field',
                                                'aria-describedby': 'newPasswordFeedback',
                                                'required': 'required'
                                            }}) }}
                                        </div>
                                        <div class="col-12 mb-3">
                                            {{ form_row(form.password.second, {'attr': {
                                                'class': 'form-control required-field',
                                                'aria-describedby': 'confirmPasswordFeedback',
                                                'required': 'required'
                                            }}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
