{% extends 'base.html.twig' %}

{% block title %}Outils{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('accordion') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('filter') }}
{% endblock %}


{% block body %}

    <!--titre-->
    <div class="titre-logo">
        <img class="logo" src="{{ asset('images/logo-outil.png') }}" alt="Logo" />
        <h1>Outils</h1>
        <img class="logo" src="{{ asset('images/logo-outil.png') }}" alt="Logo" />
    </div>

    <div class="card text-center">
        <div class="card-body fond-image">

            <!--bouton-->
            <section class="admin_body_container" >
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-outline-info" href="{{ path('app_admin_outil_ajouter') }}">
                        Mettre un outil en vente
                    </a>
                {% endif %}
                <a class="btn btn-outline-light" href="{{ path('app_stuff_lister') }}">Retour</a>
            </section>
            <br>
            <!--filtres de recherche-->
            {{ form_start(form) }}
            <section class="admin_body_container " >
                <div class="input-group">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'type': 'search', 'placeholder': 'Rechercher par nom...', 'aria-label': 'Search', 'id': 'search-input'}}) }}
                    <span class="input-group-text"><a class="btn-close" href="{{ path('app_stuff_outil') }}"></a></span>
                </div>
            </section>
            {{ form_end(form) }}

        </div>
    </div>

    <br>
    <!--massage flash-->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <!--afficher la liste-->
    <section class="admin_body_container">
        <div class="card-element">
            {% for outil in outils %}
                <div class="card card-size">
                    <div class="card-body fond-image">
                        <h5 class="card-title">{{outil.nom}}</h5>
                        <h6 class="card-title">{{outil.poids}} Kg - {{outil.prix}} Couronnes</h6>
                        <h6 class="card-title">Taille {{outil.taille.libelle}}</h6>
                        <p class="card-text">effet(s) : {{outil.effet}}</p>
                        <p href="#" class="card-text">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-outline-info" href="{{ path('app_admin_outil_modifier', { 'id' : outil.id }) }}">
                                    modifier
                                </a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <script>
        // Appel de la fonction avec les paramètres spécifiques aux équipements
        document.addEventListener('DOMContentLoaded', function() {
            initializeSearch('search-input', 'result-container', '{{ path('app_stuff_outil') }}');
        });
    </script>

{% endblock %}